/* Font */
@font: -apple-system-font,"Consolas","Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
@font-code: Consolas, Monaco, courier, monospace;
// @font-en: "MV Boli", Roboto, serif;
@font-en: "MV Boli", serif;

/* Font-size */
@font-size-sm: 12px;
@font-size-base: 14px;
@font-size-normal: 16px;
@font-size-lg: 18px;

/* Border */
@border-radius-base: 2px;
